.card{
    border: none;
    border-left: 5px solid rgb(150, 143, 143);
    margin-top: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.card:hover .todo-content{
    margin-bottom: 50px;
}

.category-tools{
    display: none;
}

.category-tools small{
    margin: 0px 5px;
    cursor: pointer;
}

.categories-list .card:hover{
    cursor: pointer;
}

.categories-list .card:hover .category-tools{
    display: inline;
}

.bg-danger{
    margin-top: 10px;
}

.category-title{
    margin-bottom: 5px;
}

.todo-content{
    margin-bottom: 20px;
    transition: 0.8s;
}