<div class="row justify-content-center mb-3">
    <div class="col-md-4 text-center">
        <h1>TODO LIST</h1>
        <p class="text-info">
            This is our ToDO app.
            Create your todo list and remember the important points on the go...
        </p>
    </div>
</div>

<div class="row">
    <form #todolistItem="ngForm" (ngSubmit)="todolistItem.form.valid && onAddItemToList(todolistItem)"
    (keydown.enter)="$event.preventDefault()">
        <div class="row">
            <div class="col-md-10">
                <input 
                type="text" 
                placeholder="Todo item" 
                name="todoItemText"
                class="form-control-plaintext shadow-box"
                [(ngModel)]="todoitemvalue"
                required
                #itemtodo="ngModel"
                [ngClass]="{'border-invalid' : itemtodo.touched && itemtodo.invalid}">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block shadow-box"
                [disabled]="todolistItem.form.invalid">{{buttonName}}</button>
            </div>
            <div class="text-danger ml-3" *ngIf="itemtodo.touched && itemtodo.invalid">
                Add an item to proceed
            </div>
        </div>
    </form>
</div>

<div class="row justify-content-center todo-list">
    <div class="col-md-6">
        <div class="card" *ngFor="let listItem of categoryTodoItemsList">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-start text-secondary checkbox">
                        <i *ngIf="listItem.data.iscompleted" class="far fa-check-circle text-success" (click)="onIncompleteAction(listItem.data.iscompleted,listItem.id)"></i>
                        <i *ngIf="!listItem.data.iscompleted" class="far fa-circle text-danger" (click)="onCompleteAction(listItem.data.iscompleted,listItem.id)"></i>
                        <span *ngIf="!listItem.data.iscompleted">{{listItem.data.todo}}</span>
                        <span *ngIf="listItem.data.iscompleted"><del>{{listItem.data.todo}}</del></span>
                        <!-- <label (change)="ontodoItemChange($event)">
                            <input type="checkbox" name={{listItem.data.todo}} value={{listItem.data.todo}}>
                            <span *ngIf="isTodoItemChecked"><del>{{listItem.data.todo}}</del></span>
                            <span *ngIf="!isTodoItemChecked">{{listItem.data.todo}}</span>
                        </label> -->
                    </div>
                    <div class="float-end">
                        
                        <div class="todo-list-tools">
                            <small *ngIf="!listItem.data.iscompleted"><i class="fa fa-pencil-alt text-success" (click)="onEditTodoItem(listItem.data.todo,listItem.id)"></i></small>
                            <small><i class="fas fa-trash text-danger" (click)="onDeleteTodoItem(listItem.id,listItem.data.iscompleted)"></i></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>