<div class="row justify-content-center mb-3">
    <div class="col-md-8 text-center">
        <h1><i class="fas fa-clipboard-list"></i></h1>
        <h3 style="text-align: center;word-wrap: break-word;">
            {{categoryTitle}}
        </h3>
    </div>
</div>

<div class="row">
    <form #todolistItem="ngForm" (ngSubmit)="todolistItem.form.valid && onAddItemToList(todolistItem)">
        <div class="row">
            <div class="col-md-10">
                <input 
                type="text" 
                placeholder="Todo item" 
                name="todoItemText"
                class="form-control-plaintext shadow-box"
                ngModel
                required
                #itemtodo="ngModel">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block shadow-box"
                [disabled]="todolistItem.form.invalid">Add</button>
            </div>
        </div>
    </form>
</div>

<div class="row justify-content-center todo-list">
    <div class="col-md-6">
        <div class="card" *ngFor="let listItem of categoryTodoItemsList">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-start text-secondary checkbox">
                        <i *ngIf="listItem.data.iscompleted" class="far fa-check-circle text-success" (click)="onIncompleteAction(listItem.data.iscompleted,listItem.id)"></i>
                        <i *ngIf="!listItem.data.iscompleted" class="far fa-circle text-danger" (click)="onCompleteAction(listItem.data.iscompleted,listItem.id)"></i>
                        <span 
                        *ngIf="!listItem.data.iscompleted"
                        id="{{'listItem'+listItem.id}}"
                        (click)="createText($event,listItem.id)" 
                        (keydown.enter)="onEnterPress($event)"
                        (blur)="onSelectingNewTitle($event)"
                        >{{listItem.data.todo}}</span>
                        <span *ngIf="listItem.data.iscompleted"><del>{{listItem.data.todo}}</del></span>

                        <!-- <label (change)="ontodoItemChange($event)">
                            <input type="checkbox" name={{listItem.data.todo}} value={{listItem.data.todo}}>
                            <span *ngIf="isTodoItemChecked"><del>{{listItem.data.todo}}</del></span>
                            <span *ngIf="!isTodoItemChecked">{{listItem.data.todo}}</span>
                        </label> -->

                        <!-- <span *ngIf="!listItem.data.iscompleted" (click)="onCompleteAction(listItem.data.iscompleted,listItem.id)">
                            <i *ngIf="!listItem.data.iscompleted" class="far fa-circle text-danger"></i>
                            {{listItem.data.todo}}
                        </span>

                        <span *ngIf="listItem.data.iscompleted" (click)="onIncompleteAction(listItem.data.iscompleted,listItem.id)">
                            <i *ngIf="listItem.data.iscompleted" class="far fa-check-circle text-success"></i>
                            <del>{{listItem.data.todo}}</del>
                        </span> -->


                    </div>
                    <div class="float-end">
                        
                        <div class="todo-list-tools">
                            <small *ngIf="!listItem.data.iscompleted"><i class="fa fa-pencil-alt text-success" (click)="onEditTodoItem($event,listItem.data.todo,listItem.id)"></i></small>
                            <small><i class="fas fa-trash text-danger" (click)="onDeleteTodoItem(listItem.id,listItem.data.iscompleted)"></i></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>