<div class="row justify-content-center mb-3">
    <div class="col-md-4 text-center">
        <h1>TODO LIST</h1>
        <p class="text-info">
            This is our ToDO app.
            Create your todo list and remember the important points on the go...
        </p>
    </div>
</div>

<div class="row">
    <form>
        <div class="row">
            <div class="col-md-10">
                <input type="text" placeholder="Add ToDO's list Items here..." name="todoText"
                    class="form-control-plaintext shadow-box">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block shadow-box">Add</button>
            </div>
        </div>
    </form>
</div>

<div class="row justify-content-center todo-list">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-start text-secondary">
                        <i class="far fa-circle text-danger"></i>
                        <i class="fas fa-check text-success"></i>
                        New TODO
                    </div>
                    <div class="float-end">
                        <i class="far fa-check-circle text-success"></i>
                        <i class="far fa-times-circle text-danger"></i>
                        <div class="todo-list-tools">
                            <small><i class="fa fa-pencil-alt text-success"></i></small>
                            <small><i class="fas fa-trash text-danger"></i></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>